.app-container {
	// max-width: 960px;
	// margin: 4em auto;
}

.container {
	width: 85%;
	margin: auto;
}

.page {
	padding: 0 0 3em 0;
}

.app-footer {
	background: white;
	padding: 2em;
}

.donate {
	float: right;
}