.answer_result {
	margin-bottom: 2em;
	h3 {
		color: black;
	}
	p {
		margin: 0 0 1em 0;
		color: gray;
	}
}

.correct-answer_result-is-correct {}

.correct-answer_result-is-incorrect {}

////////////////////////////////////////////////////////
