.question {
  padding: 2em ;
  background: white;
  margin: 2em 0;
  box-shadow: 0 3px 3px #ccc;
  border-radius: 5px;
  line-height: 1.5;
  &-img {
    //margin: 2em 0;
  }

  &-num {
  	text-transform: uppercase;
  	margin-bottom: .7em;
  }

  &-text {
    font-size: 1.2em;
  	margin-top: 0;
  }
}