.button {
	background: white;
	border: none;
	outline: none;
	padding: .5em 1.7em;
	background: $color-primary;
	color: white;
	box-shadow: 0 3px darken($color-primary, 20%);
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	&:hover {
		cursor: pointer;
		background: lighten($color-primary, 10%);
		color: white;
	}

	&-group {
		margin: 0;
		@media screen and (max-width: 700px) {
			.button {
				width: 100%;
				padding: .5em 0;
			}
		}
	}
}
