body {
	font-family: 'Varela Round', sans-serif;
	color: gray;
	margin: 0;
	background: $bright-gray;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4 {
	color: black;
}

img {
	max-width: 100%;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.logo a {
	text-decoration: none;
	color: white;
}
